/* GLOBAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  /* colors */
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(217, 12%, 63%);
  --medium-gray: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);

  /* font styles */
  --text-font-size: 15px;
  --font-family: "Overpass", sans-serif;
}

/* STRUCTURE STYLES */

body {
  background-color: var(--very-dark-blue);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-box {
  background-color: var(--dark-blue);
  width: 400px;
  height: 500px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 25px;
}

.thank-you {
  background-color: var(--dark-blue);
  width: 400px;
  height: 500px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 25px;
}

/* BOX 1 */

.inner-contents {
  font-family: var(--font-family);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inner-contents__thank-you {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  gap: 15px;
}

h2 {
  color: var(--white);
  font-weight: 400;
}

p {
  color: var(--medium-gray);
  font-size: var(--text-font-size);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratings {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  gap: 5px;
}

.btn {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  background-color: var(--very-dark-blue);
  color: var(--medium-gray);
  cursor: pointer;
}

ul {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}

span {
  background-color: var(--white);
  width: 35px;
  height: 35px;
  display: block;
  text-align: center;
  border-radius: 50%;
  background-color: var(--very-dark-blue);
  color: var(--medium-gray);
}

button {
  background-color: var(--orange);
  border: none;
  width: 100%;
  border-radius: 25px;
  color: var(--white);
  padding: 10px 20px;
  margin: 20px auto 0 auto;
  text-transform: uppercase;
}

.btn-rate-again {
  background-color: var(--orange);
  border: none;
  width: 100%;
  border-radius: 25px;
  color: var(--white);
  padding: 10px 20px;
  margin: 20px auto 0 auto;
  text-transform: uppercase;
  font-family: var(--font-family);
}

button:hover {
  background-color: var(--white);
  color: var(--orange);
}

/* actives states */
.btn:hover {
  background-color: var(--light-gray);
  color: var(--white);
}
.btn p:hover {
  color: var(--white);
}

.btn:focus {
  background-color: var(--orange);
  color: var(--white);
}

/* BOX 2 */

.inner-contents__thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-family);
}

.inner-contents__thank-you img {
  width: 170px;
  margin: 30px auto;
}

.inner-contents__thank-you p,
.inner-contents__thank-you h2,
.inner-contents__thank-you .selection {
  text-align: center;
}

.selection {
  background-color: var(--very-dark-blue);
  border-radius: 25px;
}

.selection p {
  color: var(--orange);
  font-weight: 400;
}

.outerbox {
  display: flex;
}

.go-back {
  width: 20%;
  margin: 20px auto;
}

.hidden {
  display: none;
}

#rating {
  display: inline;
  color: var(--orange);
}

@media only screen and (max-width: 600px) {
  .container-box {
    width: 90%;
    height: 400px;
  }

  .inner-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .thank-you {
    width: 90%;
    height: 400px;
  }

  .inner-contents__thank-you {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
